header {
  background-color: #2b2e33;
}
header > .center {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: #707479;
}
header a:hover {
  color: #fff;
}
.logo > h1 > a {
  width: 190px;
  height: 63px;
  background-image: url(../img/index/logo.png);
  margin: 15px 0 12px;
  background-repeat: no-repeat;
  display: inline-block;
}
.login {
  width: 283px;
  align-items: center;
  display: flex;
  color: #707479;
}
.shopping-bag {
  background-image: url(../img/index/shopping-bag.png);
  width: 28px;
  height: 36px;
  display: inline-block;
  margin-right: 40px;
}
.search {
  background-image: url(../img/index/search.png);
}
