.title {
  background-color: #fdd900;
  padding-top: 24px;
}
.title-center {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-left {
  line-height: 60px;
  font-size: 30px;
  border-left: 5px solid #000;
  padding-left: 20px;
}
.car-num {
  color: #f30100;
}
.span1 {
  font-size: 24px;
}
.car-right span {
  line-height: 37px;
  border-bottom: 2px solid #000;
  margin-left: 20px;
}

.car-right .active {
  font-weight: bold;
  border-bottom: 4px solid #000;
}
.main {
  background-image: url(../img/index/bg2.jpg);
}
body .hid1 {
  display: none;
}
.main1 {
  background: url(../img/shopping-car/main1-bg.jpg) no-repeat;
  background-color: #fff;
  padding-bottom: 100px;
}
.goods-title {
  border-bottom: 2px solid #000;
  padding: 70px 0 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.goods-title > span {
  line-height: 26px;
}
.goods {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.goods-name {
  width: 350px;
  display: flex;
  justify-content: flex-start;
  margin-right: 107px;
}
.goods-name img {
  margin-right: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.goods-name .name {
  font-size: 14px;
  padding: 5px 0 8px;
}
.type,
.size {
  font-size: 12px;
  color: #84858a;
}

.goods-num {
  display: flex;
  width: 184px;
  justify-content: space-between;
  align-items: center;
}

.plus,
.sub {
  display: inline-block;
  width: 36px;
  line-height: 36px;
  border: 1px solid #000;
  text-align: center;
}
.price {
  width: 163px;
  text-align: center;
}
.all-price {
  width: 152px;
  text-align: center;
  color: red;
}
.goods .delete {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url(../img/shopping-car/bg-2.jpg) no-repeat -4px -3px;
  position: relative;
  cursor: pointer;
}
.queren{
  position: absolute;
  top:27px;
  left:-150px;
  height: 32px;
  display: flex;
  box-shadow: 0px 0px 4px 1px red;
  display: none;
  z-index: 100;
}
.queren-a{
  display: inline-block;
  line-height: 32px;
  width: 74px;
  background-color:red;
  font-size: 14px;
  color:#fff;
  text-align:center;
}
.no-a{
  line-height: 32px;
  display: inline-block;
  color:#fff;
  width: 106px;
  background-color:#000;
  text-align:center;
  font-size: 14px;
}
.sanjiao{
  width: 12px;
  height: 10px;
  background: url(../img/shopping-car/bg-2.jpg) no-repeat 0 -325px;
  position: absolute;
  top:-10px;
  right:19px;  
}
.goods-select {
  width: 68px;
  text-align: center;
  margin-right: 26px;
  position: relative;
}
.main1-center {
  width: 1100px;
  margin: 0 auto;
}
/*更换单选框样式*/
.main1 input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.all-select-label::before {
  left: 0;
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: -2px;
  border: 2px solid #b9bdc8;
  content: "";
}
.all-sel {
  display: inline-block;
  position: relative;
  padding-left: 34px;
}
.all-sel input:checked ~ .all-select-label::before {
  background: url(../img/shopping-car/bg-2.jpg) no-repeat 0px -17px;
  border: 2px solid #fdd900;
}
/*---------------------*/
.goods-sel {
  left: 25px;
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: -14px;
  border: 2px solid #b9bdc8;
}
.goods-select input:checked ~ .goods-sel {
  background: url(../img/shopping-car/bg-2.jpg) no-repeat 0px -17px;
  border: 2px solid #fdd900;
}
/*为各个商品列表之间添加横线*/
.goods + .goods {
  border-top: 1px solid #d1d7e3;
}
/*buy部分*/
.buy {
  background-color: #2b2e33;
  color: #fff;
  display: flex;
  align-items: center;
}
.all-sel2 {
  display: inline-block;
  position: relative;
  padding-left: 34px;
  margin-left: 22px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.all-sel2-label::before {
  position: absolute;
  left: 0;
  top: -2px;
  width: 22px;
  height: 22px;
  border: 2px solid #fff;
  display: block;
  content: "";
}
.all-sel2 input:checked ~ .all-sel2-label::before {
  background: url(../img/shopping-car/bg-2.jpg) no-repeat 0px -17px;
}
.buy > a {
  color: #fff;
  font-size: 14px;
  padding-left: 22px;
  margin-left: 10px;
}
.delete2 {
  background: url(../img/shopping-car/bg-2.jpg) no-repeat 1px -70px;
}
.hope {
  background: url(../img/shopping-car/bg-2.jpg) no-repeat 1px -46px;
  margin-right: 20px;
}
.all-num,
.sel-num {
  color: #fdd900;
}
.num-text {
  padding-left: 20px;
  line-height: 20px;
  border-left: 2px solid #707378;
}
.price-text {
  display: inline-block;
}
.all-price2 {
  color: #fdd900;
  font-size: 32px;
  width: 132px;
}
.price-text2 {
  font-size: 14px;
  line-height: 16px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 97px;
}
.buy .go {
  line-height: 60px;
  background-color: #fdd900;
  text-align: center;
  padding: 0;
  margin-left: 20px;
  width: 190px;
  color: #000;
  font-size: 26px;
}
/*注册页面，遮罩层*/
.reg-shadow {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body {
  position: relative;
}
.reg {
  width: 380px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close-reg {
  align-self: flex-end;
  width: 10px;
  height: 10px;
  background: url(../img/shopping-car/bg-2.jpg) no-repeat -4px -3px;
  transform: scale(1.5);
  cursor: pointer;
}
.login2 {
  width: 100%;
  background-color: #fdd900;
  font-size: 24px;
  text-align: center;
  line-height: 46px;
  margin-top: 52px;
  margin-bottom: 60px;
}
.forget {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.forget a {
  font-size: 14px;
}
.phone-i,
.password-i {
  border: 1px solid #b7bec8;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.yanzheng-i {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.yanzheng {
  border: 1px solid #b7bec8;
  width: 230px;
}
.reg input {
  line-height: 44px;
  text-indent: 10px;
}
.phone-pic,
.password-pic {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-right: 1px solid #b7bec8;
}
.phone-pic {
  background: url(../img/shopping-car/bg-2.jpg) no-repeat 10px -96px;
}
.password-pic {
  background: url(../img/shopping-car/bg-2.jpg) no-repeat 10px -142px;
}
.reg2 {
  width: 380px;
  margin-top: 3px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.reg2 a {
  width: 33px;
  height: 28px;
  display: inline-block;
}
.goods-parent{
  min-height: 547px;
}
.phone-err,.password-err,.yanzheng-err{
  font-size: 14px; 
  color:red;
}
body .show{
  display:flex;
}
.shadow22{
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
